span.in_curr {
    /*font-size: 25px;*/
    color: gold;
}

.cabinet {
    background-image: url(../img/personalCabinet.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}
.cabinet::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height:100%;
    top:0;
    left:0;
    z-index: 1;
}
.l-20 {
    text-transform: uppercase;
	left: 12%;
	font-size: 2rem;
	color: #fff;
	border-left: 10px double;
	padding-left: 20px;
}
.cabinet .logo {
    padding-bottom: 1em;
}
.cabinet .logo span {
    background-image: url(../img/logo1.png);
    height: 67px;
    width: 89px;
    filter: Glow(10%);
    display: block;
    margin: 0 auto;
}
.cabinet .horizontal-menu {
    text-align: center;
}
.table-cabinet-header-text {
    font-size: 2.5rem;
    text-decoration: underline;
}
table.table.table-hover>thead>tr>th{
    text-align: center;
    padding: 1.3em 0;
    font-size: 1.6rem;
}
table.table.table-hover>tbody>tr>td{
    /* font-size: 1.6rem; */
    /* padding: 1.5em 0; */
}
table.table.table-hover>tbody>tr:hover {
    /* background: rgba(0,0,0,0.1); */
    transition: all 0.45s;
}
.item-button-top {
     display: inline-block;
 }

.cabinet .item-button-top {
    top: -60px;
}
@media screen and (max-width: 425px){
    .cabinet .item-button-top {
        top: 5rem;
    }
}
.oper-btn .m-gren,
.item-button-top .m-gren {
    background: #29d230;
    color: #fff;
}
body .oper-btn .m-gren:hover,
body .oper-btn .m-gren:focus,
body .oper-btn .m-gren.active,
body .item-button-top .m-gren:hover,
body .item-button-top .m-gren:focus,
body .item-button-top .m-gren.active {
    background: #4CAF50;
    color: #fff;
    /* border-bottom: 5px solid #29d230; */
}

table.table.cabinet-table tbody tr:first-child {
    border-top: 1px solid ;
}
table.table.cabinet-table tbody tr {
    border-bottom:1px solid;

}
table.table.cabinet-table thead th {
    border-top: none;
    box-shadow: 0 0 0 0;
}

table.table.cabinet-table th,
table.table.cabinet-table td
{
    border-left:none;
    border-right:none;
    font-size:2.5rem;
    padding: 2rem 0;

}

.baunti .depo_btn {
    margin-top:5rem;
}
.col-sm-12.form-group.text-center.namepays {
    display: block;
    margin: 0;
    color: #444;
    left: 50%;
    font-size: 1.8rem;
    margin-left: -170px;
    padding: 20px 0;
    width: 480px;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.name-is-cabinet ul {
    text-align: right;
    width: 50%;
    position: absolute;
    right: 30px;
    top: 0;
    list-style-type: none;
}
.cabinet .top-wrap ul li a {
    /* background: rgba(0,0,0,.5); */
}
.cabinet .top-wrap ul li a:hover {
    /* border-bottom:1px solid #f3dd6a; */
}
.cabinet .top-wrap ul li a i {
    color: #f3dd6a;
}
.name-is-cabinet {
    padding-bottom:3em;
}
.name-is-cabinet .logo-cabinet {
    width: 50%;
    position: relative;
    top: 0;
}
.name-is-cabinet .logo-cabinet > *  {
    text-transform:  uppercase;
    display:  inline-block;
    position:  relative;
    margin:  0;
}
.name-is-cabinet .logo-cabinet > h2 {
    border-bottom: 1px solid;
}
.cabinet-next form {
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
}
@media screen and (max-width: 425px){
    .cabinet-next form {
        vertical-align: bottom;
        margin-bottom: -5px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 320px){
    .cabinet-next form {
        margin-right: 5px;
    }
}
.cabinet-next form div > input {
    margin: 0 auto;
    border: none;
    border-bottom: 5px solid transparent;
    background: url(../img/wheel3.png);
    background-size: contain;
    background-repeat:  no-repeat;
    background-position:  center;
}
.cabinet-next form div > label {
    display: block;
    font-size:  20px;
    color: #333;
    background: linear-gradient(120deg,#e4ab23 1%,#faf78f 30%,#e4ab23 50%,#faf78f 70%,#e4ab23 100%);
    padding: 9px 20px;
    border-radius: 10px;
    top: -3px;
    text-transform:  uppercase;
    position:  relative;
}

.avatar {
    display: inline-block;
    position: absolute;
    top: -30px;
    right: -120px;
    width:  200px;
    text-align:  center;
}

.avatar > img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    object-fit: cover;
    box-shadow: 0 0 13px 1px #DDE;
    margin-bottom: 14px;
}

.avatar .nickname {
    color: gold;
    font-size: 1.5rem;
    margin-bottom: 6px;
}
.avatar .ballance > div {
    background: gold;
    color:  #333;
    border-radius:  10px;
    margin-bottom:  5px;
}
.avatar.home {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
}
.avatar.home img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-position:  51% 0;
    margin:  0;
}

@media screen and (max-width: 768px){
    .avatar {
        top: 180px;
        left: -70px;
    }
}
@media screen and (max-width: 425px){
    .avatar {
        top: 40px;
        left: 30%;
    }
}