/* MIN */
@media screen and (min-width: 769px){
    .button_nav_open {
        display: none;}
    .horizontal-menu {
        list-style-type: none;
        position: relative;
        z-index:2;
        padding: 0;
        text-align: center;
        letter-spacing: 3px;
        margin: 0 auto;
        }
    .horizontal-menu li {
        display: inline-block;}
    .top-wrap ul li a {
        color: #eee;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        padding:10px 15px;
        font-size: 1.1rem;
        transition:  all .5s;
        /* border-bottom:1px solid transparent; */
        position: relative;
    }
    .top-wrap ul li a:hover,
    .top-wrap ul li a.active,
    .top-wrap ul li a.default {
        color: #030dbd;
        text-shadow: 0 0 10px;
    }
    .top-wrap ul li a::after {
        content: '';
        display: block;
        opacity:0;
        transition: all .5s;
        position: absolute;
        width: 100%;
        height: 2.1px;
        bottom: 0;
        background: #030dbd;
        left: 0;
        /* border: 1px solid #030dbd; */
        border-radius: 100%;
        box-shadow: 0 0 10px 1px #030dbd;
    }

    .top-wrap ul li a:hover::after,
    .top-wrap ul li a.default::after
    {
        opacity:1;
    }


}


/* MAX */
@media screen and (max-width: 1024px){

    /* vk group*/
    .vk_group-logo {
        display: none;}

    /* adptive menu*/
    .memu-close-768 {display: none;}
    .menu-close {
        top: 10px !important;
        height:100%;
    }
    .button_nav_open {
        display: block;
        position: absolute;
        right: 4%;
        z-index: 9999;
        top: 32%;
        transition: ease-in-out .6s;
    }
    .button_nav_open a {
        display: block;
        padding: 5px 15px;
        position: relative;
        background: rgba(0,0,0,0.7);
        border-radius: 7px;
        color: #fff;
        font-size:3rem;
    }
    .top-wrap.open {
        position: fixed;
    }
    .top-wrap {
        height: 100%;
        width:100%;
    }
    .horizontal-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        top: 0;
        right: 0;
        text-align: center;
    }
    .horizontal-menu li {
        display: block;
        }
    .top-wrap ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        padding: 1.5rem 20px;
        font-size: 1.2em;
        border-bottom:1px solid transparent;
    }
    .top-wrap ul li a:hover,
    .top-wrap ul li a.active {
        color: rgba(255,255,255,.8);
        background: rgba(255,255,255,0.2);
    }

    /* footer */
    .bot_img,
    .bot_time_img
    {
        -webkit-background-size: cover;
        background-size: contain;}
    .contacts::after {
        content: 'ÐšÐ¾Ð½Ñ‚Ð°ÐºÑ‚Ñ‹';
        position: relative;
        top: -5em;
        width:100%;
        text-align: center;
        font-size:  20px;
        background:  #eee;
        color:  #333;
    }
    .phone {
        right:0;}
    .phone span::after {
        display: none;
    }
    .email{
        text-align: right;
        left:0;
    }
    .email span::after {
        display: none;}

}
@media screen and (max-width: 768px) {
    .logo {
        left:2.5em;
    }

    .horizontal-menu {
    padding-top: 10%;
    }

    /* logon / login*/
    .logins .footer-section .col-md-10.col-md-offset-1.text-center.item-button-submit {
        top:0;
    }
}


@media screen and (max-width: 640px) {
    .horizontal-menu {
        padding-top: 5%;
        }
    /* CONTENT */
    .bgcity .caption span.border {
        font-size: 1.5rem;
        letter-spacing: 4px;
    }

    /* content cabinet*/
    .cabinet-next form {
    }
    /* cabinet button center*/
    .name-is-cabinet {
        top: -60px;
        position: relative;
    }
    .name-is-cabinet ul {
        list-style-type: none;}

    .cabinet-next.item-button-top a, .item-button-top input {
        font-size: 18px;
        margin: 15px 0;
        padding: 13px 20px;
        position: relative;
        display: block;
    }

    /* footer  */
    .bot_img, .bot_time_img {
        -webkit-background-size: auto;
        background-size: auto;
        height:150px;
    }
    
    .contacts::after {
        top: -6.5em;
    }
    .phone,
    .email {
        margin: 10px 0;
        left: 40px;
        top:25px;
        text-align: left;
    }
    .phone > span,
    .email >span {
        position: relative;
        font-family: FontAwesome;
    }
    .phone {
        right:0;}
    .phone span::after {
        content: '\f098';
        color: #eee;
        font-size:40px;
        background: none;
        display: block;
        left: -40px;
        top:-10px;

    }
    .email{
    }
    .email span::after {
        content: '\f0e0';
        display: block;
        color: #eee;
        font-size:35px;
        background: none;
        left: -40px;
        top:-20px;
    }

}

@media screen and (max-width: 480px) and (min-width: 425px) {
    /* header nav button */
    .top-menu {
        top: 7rem;
    }

}
@media screen and (max-width: 480px) {

    /* header */
    .horizontal-menu {
        padding:0;
        margin-top:-30px;
    }
    /* cabinet */
    .name-is-cabinet .logo-cabinet,
    .name-is-cabinet ul
    {
        display: block;
        width: 100%;
        text-align: center;
        padding:0;
        position: relative;
    }

    body .section-1 {
        padding: 40px 30px;
    }
    body .conditions {
        width: 90%;
    }
    .gold.depo_btn li a {
        padding: 10px 20px;
        font-size: 18px;
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 425px) {
    /* home header */
    .item-text h1 {
        font-size:3rem;
    }
    .item-text h2 {
        font-size:1.4rem;
    }

    .top-menu {
        top: 10rem;
    }
    
    .horizontal-menu {
        padding: 5% 0 0;
    }
    .header .item-button-top a {
        font-size: 18px;
        padding: 10px 20px;
        letter-spacing: 4px;
    }
    .header .item-button-top a::after {
        content: none;
        background-image: url(../img/mouse.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 40vh;
        right: -220px;
        position: absolute;
    }
    /* CONTENT */


    .section header * {
        font-size:3rem;
    }
    .section header {
        padding-top:4rem;
        padding-bottom:4rem;
    }
    .section .middle * {
        font-size: 1.88rem;
        line-height: 1.5em;
    }
    .section .dots-footer footer ul li {
        display: inline-block;
        margin-left:4rem;
    }
    .section .dots-footer footer ul li:nth-child(1){margin: 0;}
    .section .dots-footer footer ul li span {
        background-image: url(../img/circle.png);
        width: 46px;
        height: 46px;
        display: block;
        background-repeat: no-repeat;
        z-index: 34;
        position: relative;
        background-size: contain;
    }

    /* cabinet */





    /* => operations 1*/
    .operations .header-box span {
        font-size:2rem;
    }
    .oper-btn .m-gren {
        display: block;
    }
    .oper-fot-btn {
        top:0;}
        .oper-fot-btn li {
            display: block;}
                .oper-fot-btn li a {
                    display: block;}

    /* => operations => pay */

    .oper form > .form-group:nth-child(4),
    .oper form > .form-group:nth-child(5)
    {
        left: 1em;
    }
    .oper .depo_btn {
        top: -3em;
        padding: 10vh 12px 0;
    }
    .col-md-10.col-md-offset-1.text-center.item-button-submit button {
        width:100%;
    }

    /* => operations => cash-out */
    .oper .formatTable {
        width:100%;
    }
    .oper .formatTable tbody tr td {
        width: 37%;
        }
    .oper .formatTable tbody tr td:first-child {
        width: 51%;
        margin-right:1em;
    }

    /* baunti */
    .baunti .header-box a {
        font-size:1.5rem;
    }
    .baunti .depo_btn {
        margin-top: 5rem;
    }

    /* form */
    .regist .footer-section .col-md-10.col-md-offset-1.text-center.item-button-submit {
        top: -3em;
    }
    .oper .footer-section {
        padding-bottom: 2vh;
    }
    ul.depo_btn.gold {
     padding-bottom: 10%;
    }

    /* depo-end */
    .depo-end + h2,h1,h3,p,span{
        white-space: normal;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
    .depo-end .header-section h2{
        font-size:1.9rem;}
    .depo-end .header-box h1 {
        font-size:3.3rem;}
    .depo-end .header-box span {
        font-size: 2.5rem;
        }
    .boxxx{
        padding:2rem;
        font-size:2.5rem;
    }
    .depo-end .header-box p {
        font-size:2rem;}

    /* faq */
    .faq-btn.to a {
        padding: 15px 20px;
        top: 2em;
        font-size:2em;
        position: relative;
    }

    /* history */
    .out-chat.history-btn {
        left:15px;
    }

}
@media screen and (max-width: 375px)
{
    .horizontal-menu {
        padding-top: 4%;
    }

    /* foote */
    .phone,
    .email {
        left: 25px;
    }


}


@media screen and (max-height: 640px) and (min-height: 500px) {
    body > header {
        min-height: 580px;
    }

}